.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: 5px double whitesmoke;
    background-color: rgb(87, 133, 161);
    
    
    
  }

  
  .homelink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .homelink:hover {
    background-color: whitesmoke;
    border-radius: 50%;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    
    
  }

  body {
    background-color: rgb(192, 235, 250);
  }

.head {
    text-align: center;
    color: black;
    font-size: 50px;
    
    
}  

.company {
    text-align: center;
    font-size: 30px;
    
}

.location {
    text-align: center;
}

.aboutus {
    text-align: center;
    font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
}

.whysolar {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    
    
}

.farmphoto {
    display: flex;
    justify-content: space-between;
    
    
}

.bar {
    height: 230px;
}

.location {
    text-align: center;
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.solarlist {
    font-size: 18px;
    height: 80px;
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.footone {
  font-size: 30px;
  text-align: center;
  
}

.foottwo {
  font-size: 30px;
  text-align: center;
  
  
}

.footthree {
  font-size: 30px;
  text-align: center;
  
  
}

.footimg {
  margin-left: 40%;
}

.footfont {
  color: rgb(90, 186, 247);
}