

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  h1 {
    text-align: center;
  }

  .divBackground {
    background-image: url("images/mall.png");
    background-color: #cccccc;
    height: 400px;

  }

  .div1{
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 50;
  }

  .image {
    text-align: center;
  }

.foot {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 2%; 
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

