.header {
text-align: center;
color:rgb(55, 231, 63);
-webkit-text-stroke: 2px rgb(251, 253, 251);
font-size: 75px;
background-color: black;
margin-bottom: 0;
}

body {
    background-color: rgb(231, 76, 20);

}
.column {
    float: left;
    width: 33.33%;
  }

  .column > img {
    height: 300px;
    width: 100%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }